*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/fondo.png); 
    background-size: cover;
    background-repeat: no-repeat;
}

.f{
    letter-spacing: 2px;
    line-height: 25px;
    color: #f0b639;
    text-align: center;
}

.date {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

.slider img {
    display: none;
    max-width: 50%; /* Establecer el ancho máximo de las imágenes en el 100% del ancho del slider */
    height: auto; /* Establecer la altura de las imágenes en 'auto' para mantener la proporción de aspecto */
  }
  
.slider img:first-child {
    display: block;
}

.sliderC {
    height: 70vh;
    width: 70vh;
}

header{
    display: flex;
    justify-content:center;
}

header nav{
    background: #f4d69d;
    overflow: hidden;
    width: fit-content;
    padding: auto;
    text-align: center;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
}

header nav a{
    display: block;
}

header nav ul li {
    float:left;
}

header nav ul li a {
    text-align: center;
    padding: 5px 100px;
    display: block;
    color: #000000;
    text-decoration:none;
    font-size: 20px;
}

header nav ul li a:hover{
    background: #e2c496;
}

.logo-container {
    margin-left: 20px;
    display: block;
  }
  
  .logo-container img {
    height: 60px;
    width: auto;
    display: block;
  }
  
  nav {
    margin-right: 20px;
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
  }


footer{
    color: #f4d69d;
    height: 47px;
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    line-height: 47px;
}

.ubicacion{
    height: 200px;
    width:50%;
    margin-left:220px;
    background: #f0b639;
    padding: 10px 50px;
    margin: auto;

}

.ubicacion .titulo{
    
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    font-weight:300;
    margin-bottom: 40px;
}

.ubicacion .direccion{
    width: 50%;
    float: left;
    text-align: left;
}

.ubicacion .horarios{
    width: 50%;
    float: right;
    text-align: right;
}

.ubicacion .direccion .calle{
    margin-bottom:15px ;
}

.ubicacion .horarios{

    overflow: hidden;
}
.subir{
    color:royalblue ;
    text-decoration: none;
    display: block;
    float:right;
}

.mapa{
    margin: 10%;
}