*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(img/fondo.png); 
    background-size: cover;
    background-repeat: no-repeat;
}

.date {
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
}

header{
    display: flex;
    justify-content:center;
}

header nav{
    background: #f4d69d;
    overflow: hidden;
    width: fit-content;
    padding: auto;
    text-align: center;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
}

header nav a{
    display: block;
}

header nav ul li {
    float:left;
}

header nav ul li a {
    text-align: center;
    padding: 5px 100px;
    display: block;
    color: #000000;
    text-decoration:none;
    font-size: 20px;
}

header nav ul li a:hover{
    background: #e2c496;
}

.logo-container {
    margin-left: 20px;
    display: block;
}
  
.logo-container img {
    height: 60px;
    width: auto;
    display: block;
}

nav {
    margin-right: 20px;
    flex-grow: 0;
    display: flex;
    justify-content: flex-end;
}

footer{
    color: #ff9300;
    height: 47px;
    margin: 0px auto;
    width: 65%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
    line-height: 47px;
}

.subir{
    display: block;
    float:right;
}




