*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.contenedorf{
    width: 650px;
    margin: 40px;  
}

.form .contenedor-inputs{
    padding: 20px;
    background: #ffebcd;
    border-radius: 6px 6px 0 0;
}

.form input[type="text"],
.form input[type="email"]{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

.form input[type="text"]:focus,
.form input[type="email"]:focus{
    border-bottom: 2px solid #246eb9;
}

.form input[type="radio"]{
    display: none;
}

/* textarea */
.form textarea{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    padding: 8px 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

.form .Genero{
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    margin-bottom: 20px;
}

.form .Genero .label-radio{
    width: 50%;
}

.form .Genero .hombre{
    border-radius: 30px 0 0 30px;
}

.form .Genero .mujer{
    border-radius:  0 30px 30px 0;
}

.form .label-radio{
    background: #f0f8ff;
    color: #609ad4;
    padding: 10px 10px;
    text-align: center;
}

.form input[type="radio"]:checked + .label-radio{
    background-color:#fafa3e;
    color: #ff0000;
}

.form .terminos{
    text-align: center;
    color: #424242;
}

.form .terminos label{
    margin-left: 10px;
}

.form .error{
    display: none;
    margin-top: 20px;
    border-radius: 3px;
    background: #deb887;
    color: #2e2e2e;
}

.form .btn{
    width: 100%;
    text-align: center;
    background: #5f9ea0;
    border: none;
    display:grid;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 0 0 6px 6px;
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

.form .btn:hover{
    background: #d2691e;
}